.productSelected {
  margin-bottom: 35px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--primaryColor);
  transition: all ease-in-out 0.3s;
  outline: none;
  cursor: pointer;
}
.productSelected:focus,
.productInput:focus {
  box-shadow: 0 0 5px var(--focusColor);
}
.productInput {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--primaryColor);
  margin-right: 5px;
  transition: all ease 0.3s;
  outline: none;
}
.buttons {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--primaryColor);
  border: 2px solid var(--mainWhite);
  color: var(--mainWhite);
  cursor: pointer;
}

@media (max-width: 600px) {
  .productInput,.productSelected{
    padding: 5px;
  }
  .buttons{
    padding: 3px;
  }

}

