.categoryInput {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--primaryColor);
  margin-right: 5px;
  transition: all ease-in-out 0.3s;
  outline: none;
}
.categoryInput:focus {
  box-shadow: 0 0 5px var(--focusColor);
}
.buttons {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--primaryColor);
  border: 2px solid var(--mainWhite);
  color: var(--mainWhite);
  cursor: pointer;
}
@media (max-width: 600px) {
  .categoryInput{
    padding: 5px;
    margin-top: 30px;
  }
  .buttons{
    padding: 3px;
  }

}
