.navbar{
    width: 100%;
    /* max-width: 1300px; */

}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20PX ;
    /* background-color: #fc456a; */
    background-color: #fff;
}
.navbarLogo{
    font-weight: bold;
    /* font-size: 60px; */
    color: #fc456a;
}